<%- include("./partials/header.ejs")%>

<form action="/addbook" method="post" >
 <div>
  <label> Write ISBN To find a book</label> <input type="text"> <br>
  <label>Write your note here</label> <input type="textarea" > <br>
  <input type="submit" value="Add New note">
 </div>

</form>


<%- include("./partials/footer.ejs")%>