html {
  background-image: url("../images/WoodPicture.jpeg");
  background-size: cover;  /* Ensure the background image covers the entire viewport */

  font-family: Arial, sans-serif;  
}

body {
  color: white;
  display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 40em;
  
}


.header{
  text-align: center;
}


footer{
  text-align: center;
}

.addButton{
  background-color: rgb(147, 209, 55);
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  
}

.addButton:hover{
  background-color: rgb(113, 161, 41);
}

.editButton:hover{
  background-color:  rgb(25, 160, 194);
}

.editButton:active{
  background-color: rgb(20, 219, 209);
}

.addButton:active{
  background-color: rgb(197, 221, 161);
}


.addClass{

  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton{
  background-color: rgb(13, 201, 248);
  color: white;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 20px;

}

.deleteButton{
  background-color: rgb(211, 54, 15);
  color: white;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 20px;

}

.deleteButton:hover{
  background-color:  rgb(255, 132, 101);
}

.deleteButton:active{
  background-color: rgb(233, 188, 152);
}

h3 {
  color: rgb(214, 151, 14);
}


.bookFunctions{

  display: flex;
 justify-content: space-between;
}


.bookObject{
  display: flex;
  justify-content: space-around;
}

